@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
body,
html {
    margin: 0;
}

body {
    background: #1f2029;
    color: #c4c3ca;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* Logo */
.logo
{
    float: right;
    margin: 30px 50px;
}
.cart
{
    margin-left: 2%;
    margin-bottom: .2%;
}

/* Выпадающее меню */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2b38;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    color: #717179;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #c4c3ca;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Форма для регистрации и входа */

#arrow,
#wrapper,
button span,
label {
    transition: all 0.5s cubic-bezier(0.6, 0, 0.4, 1);
}

#wrapper {
    overflow: hidden;
}

#signin:checked~#wrapper {
    height: 178px;
}

#signin:checked~#wrapper #arrow {
    left: 32px;
}

#signin:checked~button span {
    transform: translate3d(0, -72px, 0);
}

#signup:checked~#wrapper {
    height: 262px;
}

#signup:checked~#wrapper #arrow {
    left: 137px;
}

#signup:checked~button span {
    transform: translate3d(0, -144px, 0);
}

#reset:checked~#wrapper {
    height: 94px;
}

#reset:checked~#wrapper #arrow {
    left: 404px;
}

#reset:checked~button span {
    transform: translate3d(0, 0, 0);
}

form {
    width: 600px;
    height: 400px;
    margin: -185px -280px;
    position: absolute;
    left: 50%;
    top: 50%;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    opacity: 0.5;
    margin-bottom: 30px;
    text-transform: uppercase;
}

label:hover {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
    opacity: 1;
}

label[for="signin"] {
    margin-right: 20px;
}

label[for="reset"] {
    float: right;
}

input[type="radio"]:checked+label {
    opacity: 1;
}

input[type="password"],
input[type="text"] {
    background: #2a2b38;
    color:#ecf8c4;
    border: none;
    border-radius: 8px;
    font-size: 27px;
    font-family: "Raleway", sans-serif;
    height: 72px;
    width: 99.5%;
    margin-bottom: 10px;
    opacity: 1;
    text-indent: 20px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

button {
    background: #ffeba7;
    border: none;
    border-radius: 8px;
    color: #050f32;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 27px;
    height: 72px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

button span {
    display: block;
    line-height: 72px;
    position: relative;
    top: -2px;
    transform: translate3d(0, 0, 0);
}

button:hover {
    background: #555c71;
    color: #ffeba7;
}

#arrow {
    height: 0;
    width: 0;
    border-bottom: 10px solid #2a2b38;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 32px;
}


/* Footer */

footer {
    position: relative;
    width: 100%;
    padding: 10px -8px;
    background: #2a2b38;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 450px;
}


.social,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social li,
.menu li {
    list-style: none;
}

.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.menu li a {
    font-size: 1.2em;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}

.menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}