@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

body,
html {
    margin: 0;
}

body {
    background: #1f2029;
    color: #c4c3ca;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Logo */
.logo {
    float: right;
    margin: 30px 50px;
}

.cart {
    margin-left: 2%;
    margin-bottom: .2%;
}

/* Выпадающее меню */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2b38;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    color: #717179;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #c4c3ca;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Аккаунт */
.card {
    background: #2a2b38;
    border-radius: 8px;
    margin: 5%;
}

.card .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    font-weight: 500;
    font-size: 25px;
    background: #363849;
    color: #ffffff;
    border-radius: 8px 8px 0 0;
}

.d-flex.align-items-center.justify-content-between.px-4
{
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    width: 100%;
    margin: 0;
    height: 70px;
}

.d-flex.align-items-center
{
    margin-left: 2%;
}

.text-muted
{
    margin-right: 5%;
}
.href-one
{
    margin-left: 5%;
}

.badge.bg-light.text-dark.me-3
{
    float: left;
    margin-left: 42%;
    background: #ffeba7;
    width: 30%;
    text-align: center;
    height: 25px;
    top: 50%;
    line-height: 1.5em;
    border-radius: 8px;
    color: #050f32;
}
.ms-4.small a
{
    color: #3e61dd;
}

.ms-4.small .text-muted.me-3
{
    color: #a9a9a9;
}
.fab
{
    float: left;
    color: #dadada;
}

.ms-4
{
    margin-left: 80px;
    width: 100%;
}
.small
{
    font-size: 15px;
    font-family: "Raleway-vietnamese", sans-serif;
    color: #c4c3ca;
}

.text-xs.text-muted
{
    font-size: 18px;
    color: #72747a;
}

.ms-4.small
{
    margin-right: 2%;
    width: 40%;
    text-align: right;
}

.table-responsive.table-billing-history
{
    margin: 0 5%;
}

.table.mb-0
{
    width: 100%;
    text-align: left;
}

.border-gray-200
{
    color: #e7e7b4;
}
td
{
    font-size: 16px;
    font-family: "Raleway-vietnamese", sans-serif;
    color: #c4c3ca;
    padding: 1% 0;
}

td span
{
    padding: 2% 10%;
}
.badge.bg-success
{
    background: #ffeba7;
    color: #050f32;
    border-radius: 8px;
}
.badge.bg-light.text-dark
{
    background: #828282;
    color: #f5ff9d;
    border-radius: 8px;
}


.table-billing-history th, .table-billing-history td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}
.table > :not(caption) > * > *, .dataTable-table > :not(caption) > * > * {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 50px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.btn.btn-primary {
    margin-top: .5%;
    margin-left: 2%;
    width: 25%;
    height: 35px;
    vertical-align: middle;
    background-color: #ffeba7;
    color: #050f32;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.btn.btn-primary:hover {
    background: #555c71;
    color: #ffeba7;
}

.nav-borders .nav-link.active {
    color: #ffeba7;
    border-bottom-color: #ffeba7;
}

.nav-borders .nav-link {
    color: #c4c3ca;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.container-xl.px-4.mt-4 {
    margin-top: 5%;
}
.nav.nav-borders
{
    margin-left: 5%;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    padding: 10px -8px;
    background: #2a2b38;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}


.social,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social li,
.menu li {
    list-style: none;
}

.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.menu li a {
    font-size: 1.2em;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}

.menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}